body {
  background-color: white;
}

nav {
  background-color: #dee;
  margin-bottom: 30px;
}

.nav-logo {
  margin-bottom: 10px;
  margin-left: 3em;
  margin-top: 10px;
}


nav ul li {
  display: inline-block;
  left: 3em;
  padding-right: 5em;
  position: relative;
  top: -40px;
}

