body {
  background-color: white;
  font-family: sans-serif;
}

section {
  margin-bottom: 30px;
}

nav {
  background-color: #dee;
  margin-bottom: 30px;
  width: 100%;
}

.nav-logo {
  margin-bottom: 10px;
  margin-left: 3em;
  margin-top: 10px;
}


nav ul li {
  display: inline-block;
  left: 3em;
  padding-right: 5em;
  position: relative;
  top: -40px;
}

.middle-sub-banner {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.section-banner-image {
  display: inline-block;
  padding-right: 1.5em;
}

.section-text-button {
  bottom: 20px;
  display: inline-block;
  line-height: 1.6;
  position: relative;
  width: 45%;
}

.section-text-button h1 {
  font-size: 20px;
  font-weight: 500; /* this is a changeable weight option */
}

.section-text-button p {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.call-to-action {
  border-radius: 12px;
  font-size: 14px;
  height: 50px;
  width: 225px;
}




